@import url('https://fonts.googleapis.com/css?family=Bowlby+One');

body {
  background-color: #353358;
  margin: 0;
  padding: 0;
  font-family: 'Bowlby One', cursive;
  color: #FFF;
  font-size: 2em;
}

.TopBar {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top:50px;
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.hot {
  color:#c8000a;
  font-size: 2.5em;
}
.cold {
  color:#b0e9fb;
  font-size: 2.5em;
}
